* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;

  }
  html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;

    background: url('../assets/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
}